<div class="menu_mobile_overlay"></div>
<div class="menu_mobile scheme_dark">
    <div class="menu_mobile_inner">
        <a class="menu_mobile_close icon-cancel"></a>
        <a class="sc_layouts_logo" href="index.html"><img src="images/logo_light.png" alt=""></a>
        <nav class="menu_mobile_nav_area">
            <ul id="menu_mobile-main-menu" class="">
                <li class="menu-item menu-item-has-children">
                    <a href="#">
                        <span>Home</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-home">
                            <a href="index.html">
                                <span>Home 1</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="index-2.html">
                                <span>Home 2</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="index-3.html">
                                <span>Home 3</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="index-4.html">
                                <span>Home 4</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a href="#">
                        <span>About Us</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="about-style-1.html">
                                <span>Style 1</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="about-style-2.html">
                                <span>Style 2</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a href="#">
                        <span>Features</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-has-children">
                            <a href="#">
                                <span>Tools</span>
                            </a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="features-shortcodes.html">
                                        <span>Shortcodes</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="features-typography.html">
                                        <span>Typography</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#">
                                <span>Support</span>
                            </a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="features-support.html">
                                        <span>Support</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="features-customization.html">
                                        <span>Customization</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="features-video-tutorials.html">
                                        <span>Video Tutorials</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children current-menu-ancestor">
                    <a href="#">
                        <span>Blog</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="blog-streampage.html">
                                <span>Streampage</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="blog-classic-style.html">
                                <span>Classic Style</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#">
                                <span>Portfolio Style</span>
                            </a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="blog-classic-2-columns.html">
                                        <span>2 Columns</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="blog-classic-3-columns.html">
                                        <span>3 Columns</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children current-menu-item">
                            <a href="#">
                                <span>Chess Style</span>
                            </a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="blog-chess-2-columns.html">
                                        <span>2 Columns</span>
                                    </a>
                                </li>
                                <li class="menu-item current-menu-item">
                                    <a href="blog-chess-4-columns.html">
                                        <span>4 Columns</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="blog-chess-6-columns.html">
                                        <span>6 Columns</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a href="#">
                        <span>Store</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="shop.html">
                                <span>WooCommerce</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="shop-grid.html">
                                <span>Ess. Grid Store</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="gallery.html">
                        <span>Gallery</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="contacts.html">
                        <span>Contacts</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="search_wrap search_style_normal search_mobile">
            <div class="search_form_wrap">
                <form role="search" method="get" class="search_form" action="#">
                    <input type="text" class="search_field" placeholder="Search" value="" name="s">
                    <button type="submit" class="search_submit trx_addons_icon-search"></button>
                </form>
            </div>
        </div>
        <div class="socials_mobile">
            <span class="social_item">
                <a href="#" class="social_icons social_twitter">
                    <span class="trx_addons_icon-twitter"></span>
                </a>
            </span><span class="social_item">
                <a href="#" class="social_icons social_facebook">
                    <span class="trx_addons_icon-facebook"></span>
                </a>
            </span><span class="social_item">
                <a href="#" class="social_icons social_gplus">
                    <span class="trx_addons_icon-gplus"></span>
                </a>
            </span><span class="social_item">
                <a href="#" class="social_icons social_instagram">
                    <span class="trx_addons_icon-instagram"></span>
                </a>
            </span>
        </div>
    </div>
</div>
<div class="page_content_wrap scheme_default">
    <div class="content">
        <div class="chess_wrap posts_container">
            <article class="post_item post_layout_chess post_layout_chess_2 post type-post">
                <div class="post_featured with_thumb hover_icon post_featured_bg bg_chess-6">
                    <div class="mask"></div>
                    <div class="icons">
                        <a href="/blog/12345" class="icon-search-alt"></a>
                    </div>
                </div>
                <div class="post_inner">
                    <div class="post_inner_content">
                        <div class="post_header entry-header">
                            <h3 class="post_title entry-title"><a href="/blog/12345">A Case for No Shirt, No
                                    Problem</a></h3>
                            <div class="post_meta">
                                <span class="post_meta_item post_date"><a href="#">November 24, 2016</a></span>
                                <a class="post_meta_item post_author" href="#"> By Cindy Jefferson</a>
                                <a href="#"
                                    class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span
                                        class="post_counters_number">2</span><span
                                        class="post_counters_label">Comments</span></a>
                            </div>
                            <!-- .post_meta -->
                        </div>
                        <!-- .entry-header -->
                        <div class="post_content entry-content">
                            <div class="post_content_inner">
                                <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                                    est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non
                                    numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet,
                                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore&hellip;</p>
                            </div>
                            <p><a class="more-link" href="/blog/12345">Read more</a></p>
                        </div>
                        <!-- .entry-content -->
                    </div>
                </div>
                <!-- .post_inner -->
            </article>
            <article class="post_item post_layout_chess post_layout_chess_2 post type-post">
                <div class="post_featured with_thumb hover_icon post_featured_bg bg_chess-7">
                    <div class="mask"></div>
                    <div class="icons">
                        <a href="/blog/12345" class="icon-search-alt"></a>
                    </div>
                </div>
                <div class="post_inner">
                    <div class="post_inner_content">
                        <div class="post_header entry-header">
                            <h3 class="post_title entry-title"><a href="/blog/12345">Emotional Experience of
                                    Balconette Bra</a></h3>
                            <div class="post_meta">
                                <span class="post_meta_item post_date"><a href="#">November 15, 2016</a></span>
                                <a class="post_meta_item post_author" href="#"> By Cindy Jefferson</a>
                                <a href="#"
                                    class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span
                                        class="post_counters_number">2</span><span
                                        class="post_counters_label">Comments</span></a>
                            </div>
                            <!-- .post_meta -->
                        </div>
                        <!-- .entry-header -->
                        <div class="post_content entry-content">
                            <div class="post_content_inner">
                                <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                                    est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non
                                    numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet,
                                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore&hellip;</p>
                            </div>
                            <p><a class="more-link" href="/blog/12345">Read more</a></p>
                        </div>
                        <!-- .entry-content -->
                    </div>
                </div>
                <!-- .post_inner -->
            </article>
            <article class="post_item post_layout_chess post_layout_chess_2 post type-post">
                <div class="post_featured with_thumb hover_icon post_featured_bg bg_chess-8">
                    <div class="mask"></div>
                    <div class="icons">
                        <a href="/blog/12345" class="icon-search-alt"></a>
                    </div>
                </div>
                <div class="post_inner">
                    <div class="post_inner_content">
                        <div class="post_header entry-header">
                            <h3 class="post_title entry-title"><a href="/blog/12345">6 Tips for Your Sleeping
                                    Beauty Rest</a></h3>
                            <div class="post_meta">
                                <span class="post_meta_item post_date"><a href="#">November 9, 2016</a></span>
                                <a class="post_meta_item post_author" href="#"> By Cindy Jefferson</a>
                                <a href="#"
                                    class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span
                                        class="post_counters_number">0</span><span
                                        class="post_counters_label">Comments</span></a>
                            </div>
                            <!-- .post_meta -->
                        </div>
                        <!-- .entry-header -->
                        <div class="post_content entry-content">
                            <div class="post_content_inner">
                                <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                                    est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non
                                    numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet,
                                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore&hellip;</p>
                            </div>
                            <p><a class="more-link" href="/blog/12345">Read more</a></p>
                        </div>
                        <!-- .entry-content -->
                    </div>
                </div>
                <!-- .post_inner -->
            </article>
            <article class="post_item post_layout_chess post_layout_chess_2 post type-post">
                <div class="post_featured with_thumb hover_icon post_featured_bg bg_chess-9">
                    <div class="mask"></div>
                    <div class="icons">
                        <a href="/blog/12345" class="icon-search-alt"></a>
                    </div>
                </div>
                <div class="post_inner">
                    <div class="post_inner_content">
                        <div class="post_header entry-header">
                            <h3 class="post_title entry-title">
                                <a href="/blog/12345">Beauty of a Woman is a Matchless Attribute</a>
                            </h3>
                            <div class="post_meta">
                                <span class="post_meta_item post_date"><a href="#">September 19, 2016</a></span>
                                <a class="post_meta_item post_author" href="#"> By Cindy Jefferson</a>
                                <a href="#"
                                    class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span
                                        class="post_counters_number">0</span><span
                                        class="post_counters_label">Comments</span></a>
                            </div>
                            <!-- .post_meta -->
                        </div>
                        <!-- .entry-header -->
                        <div class="post_content entry-content">
                            <div class="post_content_inner">
                                <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                                    est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non
                                    numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet,
                                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore&hellip;</p>
                            </div>
                            <p><a class="more-link" href="/blog/12345">Read more</a></p>
                        </div>
                        <!-- .entry-content -->
                    </div>
                </div>
                <!-- .post_inner -->
            </article>
            <article class="post_item post_layout_chess post_layout_chess_2 post type-post">
                <div class="post_featured with_thumb hover_icon post_featured_bg bg_chess-10">
                    <div class="mask"></div>
                    <div class="icons">
                        <a href="/blog/12345" class="icon-search-alt"></a>
                    </div>
                </div>
                <div class="post_inner">
                    <div class="post_inner_content">
                        <div class="post_header entry-header">
                            <h3 class="post_title entry-title"><a href="/blog/12345">‘Beth’ Is the Most Popular
                                    Camisole</a></h3>
                            <div class="post_meta">
                                <span class="post_meta_item post_date"><a href="#">August 30, 2016</a></span>
                                <a class="post_meta_item post_author" href="#"> By Cindy Jefferson</a>
                                <a href="#"
                                    class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span
                                        class="post_counters_number">0</span><span
                                        class="post_counters_label">Comments</span></a>
                            </div>
                            <!-- .post_meta -->
                        </div>
                        <!-- .entry-header -->
                        <div class="post_content entry-content">
                            <div class="post_content_inner">
                                <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                                    est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non
                                    numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet,
                                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore&hellip;</p>
                            </div>
                            <p><a class="more-link" href="/blog/12345">Read more</a></p>
                        </div>
                        <!-- .entry-content -->
                    </div>
                </div>
                <!-- .post_inner -->
            </article>
            <article class="post_item post_layout_chess post_layout_chess_2 post type-post">
                <div class="post_featured with_thumb hover_icon post_featured_bg bg_chess-11">
                    <div class="mask"></div>
                    <div class="icons">
                        <a href="/blog/12345" class="icon-search-alt"></a>
                    </div>
                </div>
                <div class="post_inner">
                    <div class="post_inner_content">
                        <div class="post_header entry-header">
                            <h3 class="post_title entry-title"><a href="/blog/12345">Luxury Plus Size Sleepwear
                                    Brand</a></h3>
                            <div class="post_meta">
                                <span class="post_meta_item post_date"><a href="#">August 28, 2016</a></span>
                                <a class="post_meta_item post_author" href="#"> By Cindy Jefferson</a>
                                <a href="#"
                                    class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span
                                        class="post_counters_number">0</span><span
                                        class="post_counters_label">Comments</span></a>
                            </div>
                            <!-- .post_meta -->
                        </div>
                        <!-- .entry-header -->
                        <div class="post_content entry-content">
                            <div class="post_content_inner">
                                <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                                    est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non
                                    numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet,
                                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore&hellip;</p>
                            </div>
                            <p><a class="more-link" href="/blog/12345">Read more</a></p>
                        </div>
                        <!-- .entry-content -->
                    </div>
                </div>
                <!-- .post_inner -->
            </article>
        </div>
        <div class="nav-links-more">
            <a class="nav-load-more more-link" href="#" data-page="1" data-max-page="2"><span>Load More Posts</span></a>
        </div>
    </div>
    <!-- </.content> -->
</div>
<!-- </.page_content_wrap> -->