<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Checkout</title>
    <link rel="icon" href="images/cropped-512x512-90x90.png" sizes="32x32" />

    <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello-embedded.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/woocommerce-currency-switcher/js/chosen/chosen.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/woocommerce-currency-switcher/css/front.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/template-color.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <!-- <link href="css/form-validation.css" rel="stylesheet"> -->
</head>

<body>
    <div class="row">
        <%-include("./components/header.ejs")%>
    </div>
    <div class="jumbotron text-center" style="height:100vh">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>We will call you (<%=phone%>)</strong> to verify your order as soon as posible.</p>
        <p class="lead"><strong>Please check your email</strong> for further information of your order.</p>
        <hr>
        <p>
            Having trouble? <a href="/contacts">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
        </p>
    </div>
    <div class="row">
        <%-include('./components/footer.ejs')%>
    </div>
    <style>
        .img-responsive {
            width: 25%;
            max-width: 70px;
        }
    </style>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- VALIDATION -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';

            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <!-- CHECKOUT -->
    <script>
        async function checkout() {
            console.log("TRIGGER");
            let name = document.getElementById('cc-name').value
            let number = document.getElementById('cc-number').value
            let expiration = document.getElementById('cc-expiration').value
            let cvv = document.getElementById('cc-cvv').value
            if (name.length < 1 || number.length < 1 || expiration.length < 1 || cvv.length < 1)
                return null
            else {
                let response = await $.ajax({
                    method: 'POST',
                    url: '/api/checkout',
                    data: {
                        name,
                        number,
                        expiration,
                        cvv
                    }
                })
                alert(response)
            }
        }

        const isVisa = [41, 42, 44, 46, 47, 48];
        const isAmex = [34, 37];
        const isMaster = [23, 24, 25, 26, 27, 51, 52, 53, 54, 55]
        const isDisco = [644, 645, 646, 647, 648, 649, 653, 654, 656, 657, 658, 659]
        let visa = document.getElementById("visa-icon")
        let master = document.getElementById("master-icon")
        let amex = document.getElementById("amex-icon")
        let discover = document.getElementById("discover-icon")
        let cardType = null;
        let oldLength = 0;

        function validateCard() {
            let cardNumber = document.getElementById('cc-number').value
            if (cardNumber.length > 19) {
                document.getElementById('cc-number').value = cardNumber.slice(0, 19)
                cardType = '';
                return
            }
            console.log("Card number: ", cardNumber, " - ", cardNumber.length, " vs ", oldLength);
            let isSpace = cardNumber.length == 4 || cardNumber.length == 9 || cardNumber.length == 14;
            let isDelete = cardNumber.length <= oldLength
            console.log("SPACE?: ", isSpace, !isDelete);
            if (isSpace && !isDelete) {
                document.getElementById('cc-number').value = cardNumber + ' '
            }
            // check visa
            for (const number of isVisa) {
                let prefix = number + ""
                if (cardNumber.indexOf(prefix) == 0) {
                    visa.classList.remove('non-selected');
                    cardType = 'visa'
                    break;
                } else {
                    cardType = ''
                    if (!visa.classList.contains('non-selected')) {
                        visa.classList.add('non-selected')
                    }
                }
            }
            // check amex
            for (const number of isAmex) {
                let prefix = number + ""
                if (cardNumber.indexOf(prefix) == 0) {
                    amex.classList.remove('non-selected');
                    cardType = 'amex'
                    break;
                } else {
                    cardType = ''
                    if (!amex.classList.contains('non-selected')) {
                        amex.classList.add('non-selected')
                    }
                }
            }
            // check master
            for (const number of isMaster) {
                let prefix = number + ""
                if (cardNumber.indexOf(prefix) == 0) {
                    master.classList.remove('non-selected');
                    cardType = 'master'
                    break;
                } else {
                    cardType = ''
                    if (!master.classList.contains('non-selected')) {
                        master.classList.add('non-selected')
                    }
                }
            }
            // check visa
            for (const number of isDisco) {
                let prefix = number + ""
                if (cardNumber.indexOf(prefix) == 0) {
                    discover.classList.remove('non-selected');
                    cardType = 'disco'
                    break;
                } else {
                    cardType = ''
                    if (!discover.classList.contains('non-selected')) {
                        discover.classList.add('non-selected')
                    }
                }
            }
            oldLength = cardNumber.length
        }
        let oldExp = 0;

        function validateExp() {
            let exp = document.getElementById('cc-expiration').value;
            if (exp.charAt(0) != '0' && exp.charAt(0) != '1' && exp.length > 0) {
                exp = '0' + exp;
            }
            if (exp.length == 2 && exp.length > oldExp) {
                exp += '/'
            }
            if (exp.length > 5) {
                exp = exp.slice(0, 5)
            }
            oldExp = exp.length;
            document.getElementById('cc-expiration').value = exp;
        }

        function validateCVV() {
            let maxLength = (cardType == "amex" || cardType == "disco") ? 4 : 3;
            let cvv = document.getElementById('cc-cvv').value
            if (cvv.length > maxLength) {
                document.getElementById('cc-cvv').value = cvv.slice(0, maxLength)
            }
        }
    </script>
    <!-- GET CART DATA -->
    <script>
        async function getCart() {
            let cartData = await $.ajax({
                method: 'get',
                url: '/api/cart'
            })
            console.log("AJAX DATA:", cartData)
            let orderList = document.getElementById('order-list')
            orderList.innerHTML = '';
            let total = 0;
            for (const item of cartData) {
                orderList.innerHTML += `
        <li class="list-group-item d-flex justify-content-between lh-condensed">
              
            <div style="display:flex">
                <img src="${item.featureImage}" style="width:50px"/>
                        <div>
                            <h6 class="my-0">${item.name}</h6>
                            <small class="text-muted">Quantity: ${item.quantity}</small>
                            </div>
                        </div>
                        <span class="text-muted">$${item.price}</span>
                    </li>`
                total += parseInt(item.price) * parseInt(item.quantity)
            }
            orderList.innerHTML += `<li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong id="total-price">${total}</strong>
                    </li>`;
        }
        getCart()
    </script>
    <style>
        .non-selected {
            opacity: 0.5 !important;
        }
    </style>
</body>

</html>